<ion-view style="background:#f5f5f5;" ng-controller="UsernameCtrl">
	<ion-header-bar style="background:#f5f5f5;">
		<button class="button button-clear button-dark icon ion-ios-arrow-back" ng-click="toInformation()"></button>
		<h1 class="title">修改昵称</h1>
		<button class="button button-stable" style="color: #007aff;background: #dedede;">储存</button>
	</ion-header-bar>
	<div class="content has-header">
		<p class="padding-left">不要经常修改昵称哦，搞得小伙伴们都不认识你了</p>
		<div class="list">
				<label class="item item-input">
			    <input type="text" >
			    <button class="button-icon icon ion-ios-close" style="color: #cccccc;"></button>
			  </label>
		</div>
	</div>
</ion-view>